<form  class="loginForm" name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">            
	<div class="form-group col-md-12 mt-md-3">
		<div class="row"> 
				<div class="has-feedback">
						<input type="text" class="form-control input" formControlName="email" placeholder="Correo Electronico"
						  [ngStyle]="{'border-color': email.invalid && (email.dirty || email.touched) ? 'red' : (email.valid ? '#5cb85c' : null) }" />
						<div *ngIf="email.invalid && (email.dirty || email.touched)">
						  <div class="container-error-message" *ngIf="email.errors.required" style="text-align:left">
							<span class="far fa-frown form-control-feedback" style="color: red;"></span>                 
							  <i class="fas fa-times"></i><a class="message">El campo es requerido</a>
						  </div>
						  <div class="container-error-message" *ngIf="email.errors.pattern" style="text-align:left">
							<span class="far fa-frown form-control-feedback" style="color: red;"></span>
							<i class="fas fa-times"></i><a class="message">No es una direccion valida</a>
						  </div>
						</div>
						<div *ngIf="email.valid">
						  <span class="fas fa-check form-control-feedback" style="color: #5cb85c;"></span>
				 </div>
			</div>             
		</div>
	</div>
	<div class="form-group col-md-12 mt-md-3">
		<div class="row">
				<div class="has-feedback">
						<input type="password" class="form-control input" formControlName="password" placeholder="Contraseña"
						  [ngStyle]="{'border-color': password.invalid && (password.dirty || password.touched) ? 'red' : (password.valid ? '#5cb85c' : null) }" />
						<div *ngIf="password.invalid && (password.dirty || password.touched)">
						  <div class="container-error-message" *ngIf="password.errors.required" style="text-align:left">
							<span class="far fa-frown form-control-feedback" style="color: red;"></span>
							  <i class="fas fa-times"></i><a class="message">El campo es requerido</a>
						  </div>
						  <div class="container-error-message" *ngIf="password.errors.minlength" style="text-align:left">
							<i class="fas fa-times"></i><a class="message">El minimo requerido es 8 caracteres</a>
						  </div>
						</div>
						<div *ngIf="password.valid && error != null">
						  <span class="fas fa-check form-control-feedback" style="color: #5cb85c;"></span>
						</div>
					  </div>
		</div>
	</div>

	<p>{{error}}</p>
	<input type="submit" class="btn" value="Iniciar Sesion">
	<div class="row justify-content-center">
		<a routerLink="../Register"><i class="fas fa-frown mr-2"></i>Aun no tienes una cuenta?</a>
	</div>
</form>